ul,
ol {
  margin: var(--list-margin);
  padding: var(--list-padding);
  font-family: var(--list-font-family);
  font-weight: var(--list-font-weight);
  font-size: var(--list-font-size);
  font-style: var(--list-font-style);
  line-height: var(--list-line-height);
  text-transform: var(--list-text-transform);
  letter-spacing: var(--list-letter-spacing);

  color: var(--black);
  @media (prefers-color-scheme: dark) {
    color: var(--grey-light);
  }

  & li {
    margin: var(--list-item-margin);
    padding: var(--list-item-padding);

    & > ul,
    & > ol {
      margin: var(--child-list-margin);
      padding: var(--child-list-padding);

      &:first-child {
        margin: var(--child-list-margin);
      }

      & li {
        margin: var(--child-list-item-margin);
        padding: var(--child-list-item-padding);
      }
    }
  }
}

ul {
  list-style: var(--unordered-list-icon);

  & li {
    & ul {
      list-style: var(--unordered-child-list-icon);
    }
  }
}

ol {
  & li {
  }
}

.list-reset {
  list-style: none;

  & li {
    margin-left: 0;
    padding-left: 0;
  }
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  font-size: 0.8rem;

  li {
    margin-left: 0.25rem;
    padding-left: 0;

    &::after {
      content: "/";
    }

    &:last-child {
      margin-left: 0.25rem;

      &::after {
        content: none;
      }
    }
  }
}

.list-inline {
  & li {
    display: inline-block;
  }
}
