<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
<noscript>
    <p class="noscript">Things would be a lot easier if you just enabled JavaScript.</p>
</noscript>
<main class="main-content">

    <nav class="main-nav">
        <a class="avatar" href="/">
            {{ $smallWEBP := .Site.Params.ProfileURL.SmallWEBP }}
            {{ $largeWEBP := .Site.Params.ProfileURL.LargeWEBP }}
            {{ $smallJPG := .Site.Params.ProfileURL.SmallJPG }}
            {{ $largeJPG := .Site.Params.ProfileURL.LargeJPG }}
            <picture>
                <!-- <source srcset="{{ $smallWEBP }}, {{ $largeWEBP }} 2x" type="image/webp"> -->
                <source srcset="{{ $smallJPG }}, {{ $largeJPG }} 2x" type="image/jpeg">
                <img src="{{ $smallJPG }}" alt="{{ .Site.Params.Name }}'s Profile Picture">
            </picture>
        </a>

        {{ if not .IsHome }}
        <h2 class="nav-title">
            <a href="/">{{ .Site.Params.Title }}</a>
        </h2>
        {{ end }}

        <ul class="nav-links list-reset">
            <!-- <li class="sidebar-site-name">
                <h6 class="name">{{ .Site.Params.Name }}</h6>
                {{ $twitter := .Site.Params.Twitter }}
                <a class="twitter" href="//twitter.com/{{ $twitter }}">@{{ $twitter }}</a>
            </li> -->
            {{ range .Site.Params.MainMenu.Link }}
            <li><a href="{{ .url | relURL }}">{{ .name }}</a></li>
            {{ end }}
            {{ with $.Site.Params.ResumePDF }}
            <li>
                <a href="{{ "/resume" | relURL }}">Resume</a>
                <a href="{{ . | relURL }}" target="_blank" class="label inline">
                    <span>pdf</span>
                </a>
                {{ with $.Site.Params.ResumeJSON }}
                <a href="{{ . | relURL }}" target="_blank" class="label inline">
                    <span>json</span>
                </a>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </nav>

    {{ block "main" . }}
    {{ end }}
</main>
{{ partial "footer_includes.html" . }}
{{ partial "footer_extras.html" . }}
</body>
</html>
