<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
<main class="main-content">
    <aside class="sidebar">
        {{ partial "sidebar.html" . }}
    </aside>
    <aside class="menu-toggle">
        <p class="close">&#8810;</p>
        <p class="open">&#8811;</p>
    </aside>
    <div class="page-content">
        <noscript>
            <p class="noscript">Things would be a lot easier if you just enabled JavaScript.</p>
        </noscript>
        <div class="width-constrain">
            {{ partial "mobile-nav.html" . }}
            {{ block "main" . }}
            {{ end }}
        </div>
    </div>
</main>
{{ partial "footer_includes.html" . }}
{{ partial "footer_extras.html" . }}
</body>
</html>
