{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<li{{ if eq .p1 .p2 }} class="active"{{ end }}>
  <a href="{{ .p1.Permalink }}">{{ if eq .p1.Title .p1.Site.Home.Title }}{{ template "homeicon" }}{{ else }}{{ .p1.Title }}{{ end }}</a>
</li>
{{ end }}

{{ define "homeicon" }}
<svg class="homeicon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<g><path d="M500,71.3l-490,490l91.9,91.9l91.9-91.9L255,928.8h183.8V745h122.5v183.8H745l61.3-367.5l91.9,91.9l91.9-91.9L500,71.3z"/></g>
</svg>
{{ end }}

{{ define "main" }}

<ul  class="breadcrumbs">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ul>


<article class="post-container" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        {{ partial "image.html" . }}
        <h1 itemprop="name headline">{{ .Title }}</h1>
        <p class="post-list-date">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person" style="display: none;">
                <span itemprop="name">{{ .Site.Params.Name }}</span>
            </span>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "January 2, 2006" }}
            </time>
            {{ if ne .Date .Page.Lastmod }}
                &nbsp;| Modified:&nbsp;
                <time datetime="{{ .Page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .Page.Lastmod.Format "January 2, 2006" }}
                </time>
            {{ end }}
            {{ partial "edit-on-github.html" . }}
        </p>
    </header>
    <section id="post-content">
        <ul id="post-tags-list" class="list-reset">
            {{ $taxonomyCategory := "categories" }}
            {{ with .Param $taxonomyCategory }}
                {{ range $index, $category := . }}
                    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomyCategory $category) -}}
                        <li style="margin-right:5px">
                            <a href="{{ .Permalink }}" class="label inline">{{ $category | urlize }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}

            {{ $taxonomyTag := "tags" }}
            {{ with .Param $taxonomyTag }}
                {{ range $index, $tag := . }}
                    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomyTag $tag) -}}
                        <li style="margin-right:5px">
                            <a href="{{ .Permalink }}" class="label inline">{{ $tag | urlize }}</a>
                        </li>
                    {{ end }}
            {{ end }}
            {{ end }}
        </ul>
        <article class="post-body" itemprop="articleBody">
            {{ if .Params.toc }}
            {{ .TableOfContents }}
            {{ end}}
            {{ .Content }}
        </article>
    </section>

    {{ partial "related-posts.html" . }}

    {{ if .Params.comments }}
    <section>
        {{ template "_internal/disqus.html" . }}
    </section>
    {{ end }}
</article>

<script>
    const addHeaderDeepLinks = function() {
        const postDoc = document.getElementById('post-content');
        const elements = [
            postDoc.getElementsByTagName('h2'),
            postDoc.getElementsByTagName('h3'),
            postDoc.getElementsByTagName('h4'),
            postDoc.getElementsByTagName('h5'),
            postDoc.getElementsByTagName('h6'),
        ];
        for (let i = 0; i < elements.length; i++) {
            for (let k = 0; k < elements[i].length; k++) {
                const header = elements[i][k];
                const anchor = document.createElement('a');
                anchor.className = 'header-link';
                anchor.href = '#' + header.id;
                anchor.innerHTML = '#';
                header.insertBefore(anchor, header.firstChild);
            }
        }
    };
    const updateCreditWithLink = function () {
        const credit = document.getElementById('js-feature-image-credit');
        const [username, url] = credit.innerText.split(' ');

        const $username = document.createElement('a');
        $username.href = 'https://unsplash.com/' + username;
        $username.innerHTML = username;
        $username.target = '_blank';

        const $url = document.createElement('a');
        $url.href = url;
        $url.innerHTML = url;
        $url.target = '_blank';

        credit.innerHTML = '';
        credit.insertBefore($url, credit.firstChild);
        credit.insertBefore(document.createTextNode(' '), credit.firstChild);
        credit.insertBefore($username, credit.firstChild);
    };
    addHeaderDeepLinks();
    updateCreditWithLink();
</script>

{{ end }}
