.label {
  background-color: var(--green);
  color: var(--white);
  font-size: 0.7em;
  padding: 2px 4px;
  border-radius: var(--border-radius);

  a {
    color: var(--white);
    text-decoration: none;
  }

  &.inline {
    display: inline-block;
  }

  &:active,
  &:focus,
  &:visited,
  &:hover,
  a:active,
  a:focus,
  a:visited,
  a:hover {
    color: var(--white);
    background-color: var(--green-dark);
  }
}