.label {
  display: inline-block;
  background-color: var(--green);
  color: var(--white);
  font-size: 0.7rem;
  padding: 2px 4px;
  border-radius: 2px;

  a {
    color: var(--white);
  }


  &:active,
  &:focus,
  &:visited,
  a:active,
  a:focus,
  a:visited,
  &:hover,
  a:hover {
    color: var(--white);
    background-color: var(--green-dark);
  }
}