//.sidebar-is-open {
//  .main-content {
//    grid-template-columns: var(--sidebar-width) var(--sidebar-toggle-width) 100%;
//    grid-template-areas: "sidebar menutoggle content";
//    overflow-x: hidden;
//
//    @media (--medium) {
//      grid-template-columns: var(--sidebar-width) var(--sidebar-toggle-width) 1fr;
//    }
//  }
//
//  .menu-toggle {
//    .close {
//      display: block;
//    }
//    .open {
//      display: none;
//    }
//  }
//
//  .sidebar {
//    display: block;
//  }
//}

.home p {
  margin: 0;
  margin-top: 0.5rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  .main-nav-title {
    letter-spacing: -0.25px;
    margin: 0;
    margin-left: 1rem;

    a {
      color: var(--black);

      @media (prefers-color-scheme: dark) {
        color: var(--grey);
      }
    }
  }

  .label {
    position: relative;
    top: -2px;
  }

  .avatar {
    display: block;

    img {
      height: 50px;
      width: 50px;
      border-radius: 13px;
    }

    height: 50px;
  }

  ul {
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0;
    margin-left: 1rem;
    text-transform: uppercase;

    li {
      align-self: center;
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.main-content {
  @extend .width-constrain;
  height: 100%;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  grid-area: menutoggle;
  p {
    font-size: 0.75rem;
  }
  .close {
    display: none;
  }

  color: var(--grey-darkest);
  background-color: var(--grey-lightest);

  @media (prefers-color-scheme: dark) {
    color: var(--grey-lightest);
    background-color: var(--grey-darkest);
  }
}

.page-content {
  grid-area: content;
  @include scrollable();
}

.mobile-nav {
  margin: 1.5rem 0 0;
  display: flex;
  align-items: center;

  @media (--large) {
    display: none;
  }

  h2 {
    margin-bottom: 0;
  }
}


.pdf-container {
  width: 100%;
  height: 100%;
}
