.main-content {
  @extend .width-constrain;
  height: 100%;
  display: block;
}

.main-nav {
  margin-top: 1rem;

  @media (--large) {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  .label {
    position: relative;
    top: -2px;
    margin-left: 0.25rem;
  }

  .avatar {
    display: block;
    grid-area: avatar;
    height: 4rem;
    margin-bottom: 0.5rem;

    @media (--large) {
      height: 6rem;
    }

    img {
      height: 100%;
      border-radius: 13px;
    }
  }
}

.over-there-links {
  margin-bottom: 2rem;

  p {
    margin: 0;
  }

  @media (--large) {
    display: flex;
    align-items: center;

    li {
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.nav-title {
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;

  a {
    color: var(--black);

    @media (prefers-color-scheme: dark) {
      color: var(--grey);
    }
  }

  @media (--large) {
    margin: 0 0 0 1rem;
  }
}

.nav-block {
  letter-spacing: -0.25px;
  margin: 0;

  @media (--large) {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }
}

.nav-links {
  grid-area: links;
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  margin: 0;
  text-transform: uppercase;

  @media (--large) {
    margin-left: 1rem;
  }

  li {
    align-self: center;
    padding: 0 10px;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  grid-area: menutoggle;

  p {
    font-size: 0.75rem;
  }

  .close {
    display: none;
  }

  color: var(--grey-darkest);
  background-color: var(--grey-lightest);

  @media (prefers-color-scheme: dark) {
    color: var(--grey-lightest);
    background-color: var(--grey-darkest);
  }
}

.pdf-container {
  width: 100%;
  height: 100%;
}

.homeicon {
  fill: currentColor;
  height: 1em;
}
