.post-list {
  > li {
    padding-bottom: 0.5em;
    border-bottom: var(--border);
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  p {
    margin: 0;
    margin-bottom: 0.5em;
  }

  a:hover {
    text-decoration: none;
  }
}

.post-list-anchor {
  small {
    color: var(--grey);
  }
}

.post-list-title {
  font-size: var(--font-size-xl);
  margin-bottom: 0.1rem;
  margin-top: 0.25rem
}

.post-list-date {
  display: flex;
  font-size: 80%;
  color: var(--grey-dark);

  @media (--large) {
    min-width: 200px;
  }
}

//
//.post-list-excerpt {
//  color: var(--black);
//  &:hover {
//    color: var(--black);
//  }
//}
