.post-list {
  > li {
    padding-bottom: 0.5em;
    border-bottom: var(--border);
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
  p {
    margin: 0;
    margin-bottom: 0.5em;
  }
}

.post-list-anchor {
  color: var(--black);
  &:hover {
    text-decoration: underline;
  }
}

.post-list-title {
  font-size: var(--font-size-xl);
  color: var(--green);
  &:hover {
    color: var(--green-dark);
  }
}

.post-list-date {
  display: block;
  font-size: 80%;
  color: var(--grey);
  @media (--large) {
    min-width: 200px;
  }
}

.post-list-excerpt {
  color: var(--black);
  &:hover {
    color: var(--black);
  }
}
