.date {
  color: var(--grey);
}

#post-tags-list {
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0;
    padding: 0;
  }
  a {
    margin: 0;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.image-credit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  a {
    font-size: 0.7rem;
    color: var(--grey-dark);
    &:hover {
      color: var(--grey-darkest);
      text-decoration: none;
    }
  }
}

#post-content {
  height: 100%;
  width: 100%;

  p {
    line-height: 1.8;
  }

  .post-body > a {
    display: block;
  }

  // deprecating all of these in favor of better styled base typographical components
  a,
  //p,
  ol,
  ul,
  div,
  pre {
    margin-bottom: 1rem;
  }

  li > ul {
    margin-bottom: 0;
  }

  small {
    line-height: 1.2;
  }

  //iframe {
  //  margin-top: 20px;
  //  margin-bottom: 30px;
  //}

  ol,
  ul {
    margin-left: 0.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .header-link {
    margin-right: 0.5rem;

    //&:hover {
    //  border-bottom: 2px solid var(--green-dark);
    //}
  }

  #TableOfContents {
    > ul {
      list-style-type: none;
      padding-left: 0;
      margin-left: 0;
    }
    li > ul {
      margin-left: 0;
    }
  }

  .asciicast  {
    width: 100%;

    iframe {
      width: 100%;
    }
  }
}



.related-posts {
  margin-top: 3rem;

  ul li {
    margin-bottom: 1rem;
  }
}
