
.sidebar {
  display: none;
  border-right: 1px solid var(--sidebar-separator-color);
  background-color: var(--white);
  max-width: var(--sidebar-width);
  grid-area: sidebar;
  @include scrollable();

  .avatar {
    display: block;

    img {
      width: calc(100% - 120px);
      margin-top: 30px;
      padding: 0 60px 25px 60px;
      border-radius: 9999px;
    }
  }

  ul li {
    padding-left: 2.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;

    &.sidebar-title {
      padding-left: 2rem;

      .title {
        font-size: 1.25rem;
        margin: 0;
        padding: 0;
      }
    }
  }

  .sidebar-site-name {
    padding-left: 2rem !important;
    .name {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      color: var(--black);
      margin-bottom: 15px;
    }
  }
}


.sidebar-toggle-container {
  cursor: pointer;
  margin-right: 2rem;
  border: 2px solid var(--black);
  border-radius: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.sidebar-toggle-icon {
  height: 50%;
  width: 50%;
  background: var(--menu-icon-url);
}
