@import 'variables';

.label {
  display: inline-block;
  background-color: $green;
  color: $white;
  font-size: 0.7rem;
  padding: 2px 4px;
  border-radius: 2px;

  a {
    color: $white;
  }


  &:active,
  &:focus,
  &:visited,
  a:active,
  a:focus,
  a:visited,
  &:hover,
  a:hover {
    color: $white;
    background-color: $green-dark;
  }
}