.post-list {
  > li {
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.post-list-anchor {
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}

.post-list-title {
  font-size: 1.25rem;
  color: $green;
  &:hover {
    color: $green-dark;
  }
}

.post-list-date {
  display: block;
  font-size: 80%;
  color: $grey;
  @media #{$large} {
    min-width: 200px;
  }
}

.post-list-excerpt {
  color: $black;
  &:hover {
    color: $black;
  }
}
