textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: .5;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}
