.sidebar {
  border-right: 1px solid $grey-light;
  background-color: $white;

  .avatar {
    display: block;

    img {
      width: calc(100% - 120px);
      margin-top: 30px;
      padding: 0 60px 25px 60px;
      border-radius: 9999px;
    }
  }

  ul li {
    padding-left: 2.75rem;
    margin-bottom: 0.5rem;

    &.sidebar-title {
      padding-left: 2rem;

      h5 {
        font-size: 1.25rem;
        margin: 0;
        padding: 0;
      }
    }
  }

  .sidebar-site-name {
    padding-left: 2rem !important;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      color: $black;
      margin-bottom: 15px;
    }
  }
}


.sidebar-toggle-container {
  margin-right: 2rem;
  border: 1px solid $black;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px;

  @media #{$large} {
    display: none;
  }
}

.sidebar-toggle-icon {
  height: 80%;
  width: 80%;
  background: $hamburgerMenuIcon;
}
