:root {
  /**
   * Headings
   */

  --headings-margin: 0 0 0.5em 0;
  --headings-font-weight: var(--font-weight-semibold);
  --headings-font-style: normal;
  --headings-color: inherit;
  --headings-line-height: var(--line-height-s);
  --headings-text-transform: none;
  --headings-letter-spacing: var(--letter-spacing);

  /**
   * Heading Sizes
   */

  --h1-font-size: 1.7rem;
  --h2-font-size: 1.4rem;
  --h3-font-size: 1.15rem;
  --h4-font-size: 1.025rem;
  --h5-font-size: 0.95rem;
  --h6-font-size: 0.75rem;

  --h1-font-size-large: 2rem;
  --h2-font-size-large: 1.5rem;
  --h3-font-size-large: 1.25rem;
  --h4-font-size-large: 1.125rem;
  --h5-font-size-large: 1rem;
  --h6-font-size-large: 0.875rem;

  /**
   * Headings Small
   */

  --headings-small-font-family: inherit;
  --headings-small-font-weight: inherit;
  --headings-small-font-style: inherit;
  --headings-small-size: 0.6em;
  --headings-small-color: inherit;


  /**
   * Horizontal Rule
   */

  --horizontal-rule-margin: var(--space-xxs) auto;
  --horizontal-rule-height: var(--border-width);
  --horizontal-rule-background: var(--grey-light);

  /**
   * List
   */

  --list-margin: 1em 0;
  --list-padding: 0;
  --list-font-family: var(--paragraph-font-family);
  --list-font-weight: var(--paragraph-font-weight);
  --list-font-size: var(--paragraph-font-size);
  --list-font-style: var(--paragraph-font-style);
  --list-line-height: var(--paragraph-line-height);
  --list-text-transform: var(--paragraph-text-transform);
  --list-letter-spacing: var(--paragraph-letter-spacing);

  /**
   * List Item
   */

  --list-item-margin: 0.5em 0 0.5em 1.5em;
  --list-item-padding: 0 0 0 0.5em;

  /**
   * Child List
   */

  --child-list-margin: 0.5em 0 0.5em 0;
  --child-list-padding: 0;
  --child-list-item-margin: var(--list-item-margin);
  --child-list-item-padding: var(--list-item-padding);

  /**
   * Unordered List
   */

  --unordered-list-icon: disc;
  --unordered-child-list-icon: disc;

  /**
   * Code
   */

  --code-font-family: var(--font-family-mono);
  --code-font-weight: var(--font-weight-regular);
  --code-font-size: 80%;
  --code-font-style: normal;
  --code-color: var(--primary-background);

  --code-bg: var(--primary-text);
  --code-padding: 0.2em 0.4em;

  /**
   * Pre
   */

  --pre-margin: 1em 0;
  --pre-padding: 1em;
  --pre-font-family: var(--code-font-family);
  --pre-font-weight: normal;
  --pre-font-size: var(--code-font-size);
  --pre-font-style: normal;
  --pre-color: inherit;
  --pre-tab-size: 4;
  --pre-hyphens: none;
  --pre-line-height: var(--line-height-m);
  --pre-background: inherit;
  --pre-border: var(--border);
  --pre-border-radius: var(--border-radius);
}
