$sans: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$serif: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;;
$mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;


$base-rem: 18px;
$container-width: 90%;
$container-width-md: 80%;
$container-width-lg: 680px;
$container-width-xl: 900px;
$container-width-xxl: 1000px;
$sidebar-width: 275px;

$transparent: transparent;

$screenSmall: 576px;
$screenMedium: 768px;
$screenLarge: 992px;
$screenXLarge: 1200px;
$screenXXLarge: 1500px;

$small: "screen and (min-width: #{$screenSmall + 1})";
$smallOnly: "screen and (max-width: #{$screenMedium})";
$medium: "screen and (min-width: #{$screenMedium + 1})";
$mediumOnly: "screen and (min-width: #{$screenMedium + 1}) and (max-width: #{$screenLarge})";
$large: "screen and (min-width: #{$screenLarge + 1})";
$largeOnly: "screen and (min-width: #{$screenLarge + 1}) and (max-width: #{$screenXLarge})";
$xlarge: "screen and (min-width: #{$screenXLarge + 1})";
$xlargeOnly: "screen and (min-width: #{$screenXLarge + 1}) and (max-width: #{$screenXXLarge})";
$xxlarge: "screen and (min-width: #{$screenXXLarge + 1})";

$hamburgerMenuIcon: url('/icons/menu.svg');

$black: #22292f !default;
$grey-darkest: #3d4852 !default;
$grey-darker: #606f7b !default;
$grey-dark: #8795a1 !default;
$grey: #b8c2cc !default;
$grey-light: #dae1e7 !default;
$grey-lighter: #f1f5f8 !default;
$grey-lightest: #f8fafc !default;
$white: #ffffff !default;

$red-darkest: #3b0d0c !default;
$red-darker: #621b18 !default;
$red-dark: #cc1f1a !default;
$red: #e3342f !default;
$red-light: #ef5753 !default;
$red-lighter: #f9acaa !default;
$red-lightest: #fcebea !default;

$orange-darkest: #462a16 !default;
$orange-darker: #613b1f !default;
$orange-dark: #de751f !default;
$orange: #f6993f !default;
$orange-light: #faad63 !default;
$orange-lighter: #fcd9b6 !default;
$orange-lightest: #fff5eb !default;

$yellow-darkest: #453411 !default;
$yellow-darker: #684f1d !default;
$yellow-dark: #f2d024 !default;
$yellow: #ffed4a !default;
$yellow-light: #fff382 !default;
$yellow-lighter: #fff9c2 !default;
$yellow-lightest: #fcfbeb !default;

$green-darkest: #0f2f21 !default;
$green-darker: #1a4731 !default;
$green-dark: #1f9d55 !default;
$green: #38c172 !default;
$green-light: #51d88a !default;
$green-lighter: #a2f5bf !default;
$green-lightest: #e3fcec !default;

$teal-darkest: #0d3331 !default;
$teal-darker: #20504f !default;
$teal-dark: #38a89d !default;
$teal: #4dc0b5 !default;
$teal-light: #64d5ca !default;
$teal-lighter: #a0f0ed !default;
$teal-lightest: #e8fffe !default;

$blue-darkest: #12283a !default;
$blue-darker: #1c3d5a !default;
$blue-dark: #2779bd !default;
$blue: #3490dc !default;
$blue-light: #6cb2eb !default;
$blue-lighter: #bcdefa !default;
$blue-lightest: #eff8ff !default;

$indigo-darkest: #191e38 !default;
$indigo-darker: #2f365f !default;
$indigo-dark: #5661b3 !default;
$indigo: #6574cd !default;
$indigo-light: #7886d7 !default;
$indigo-lighter: #b2b7ff !default;
$indigo-lightest: #e6e8ff !default;

$purple-darkest: #21183c !default;
$purple-darker: #382b5f !default;
$purple-dark: #794acf !default;
$purple: #9561e2 !default;
$purple-light: #a779e9 !default;
$purple-lighter: #d6bbfc !default;
$purple-lightest: #f3ebff !default;

$pink-darkest: #451225 !default;
$pink-darker: #6f213f !default;
$pink-dark: #eb5286 !default;
$pink: #f66d9b !default;
$pink-light: #fa7ea8 !default;
$pink-lighter: #ffbbca !default;
$pink-lightest: #ffebef !default;
