@import '../variables';

video {
  max-width: 100%;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-container video {
  background-color: $white;
}

.video-portrait {
  width: 60%;
  margin: 0 auto;
}

@media #{$large} {
  .portrait {
    width: 55%;
  }
}

@media #{$xlarge} {
  .portrait {
    width: 50%;
  }
}
