

<ul class="list-reset">
    <li class="sidebar-title">
        <h6 class="title">{{ .Site.Params.ProjectsMenu.Title }}</h6>
    </li>
    {{ range .Site.Params.ProjectsMenu.Link }}
    <li><a href="{{ .url | relURL }}">{{ .name }}</a></li>
    {{ end }}
</ul>

<ul class="list-reset">
    <li class="sidebar-title">
        <h6 class="title">{{ .Site.Params.ExternalMenu.Title }}</h6>
    </li>
    {{ range .Site.Params.ExternalMenu.Link }}
    <li><a href="{{ .url | relURL }}" target="_blank" rel="nofollow">{{ .name }}</a></li>
    {{ end }}
</ul>
